#authApp {

  .box_auth {
    height: auto;
    width: 100%;

    border-top: solid 2px #f29121;
  }

  .icon_auth {
    width: 130px;
    height: auto;
    border: dotted 0px #cccccc;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 4rem;
  }

  .title_auth {
    position: relative;
    top: -17px;
  }

  .input_group_auth {
    position: relative;
    top: -17px;
  }

  .input_auth {
    //height: 40px;
  }

  .form_login {
    width: 100%;
    max-width: 330px;
    height: 450px;
    color: #616161;
    padding: 15px;
    margin: 0px auto;
    border: dotted 0px #cccccc;
  }

  .list-md {
    background-color: transparent !important;
  }

  #icon_home_top {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
  }

  label {
    display: inline-block;
    margin-bottom: 0rem;
    font-size: 1rem;
  }

  .form-text {
    display: block;
    margin-top: 0rem;
  }

}
